name: Backend CI

on:
  push:
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: ✨ Run Unit Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Unit Tests
        run: cd backend && ./mvnw test -Dtest=*Test

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    name: ⚖️ Run Integration Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Integration Tests
        run: cd backend && ./mvnw test -Dtest=*IT

  smoke-test:
    runs-on: ubuntu-latest
    needs: integration-tests
    name: ⚡️ Run Smoke Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Smoke Tests
        run: cd backend && ./mvnw test -Dtest=*SmokeTest
