name: Backend CI

on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/backend-ci.yml'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: ✨ Run Unit Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Unit Tests
        run: cd backend && ./mvnw test -Dtest=*Test

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    name: ⚖️ Run Integration Tests
    services:
      docker:
        image: docker:dind
        options: --privileged
    env:
      TESTCONTAINERS_RYUK_DISABLED: true
      DOCKER_HOST: unix:///var/run/docker.sock
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker
        run: |
          sudo systemctl start docker
          docker info

      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: "maven"

      - name: Run Integration Tests
        run: |
          cd backend
          ./mvnw verify \
            -Dtest=*IT \
            -Dsurefire.timeout=180 \
            -DforkedProcessTimeoutInSeconds=180 \
            -Dsurefire.useSystemClassLoader=false

  smoke-test:
    runs-on: ubuntu-latest
    needs: integration-tests
    name: ⚡️ Run Smoke Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run Smoke Tests
        run: cd backend && ./mvnw test -Dtest=*SmokeTest
